body{
	margin: 0;
}
.topHeader{
	background-color:#f1f8e9;
	overflow: hidden;
	background-color: #f1f1f1;
	text-align:center;
	padding: 1px 10px;
}
.topHeader h1{
	font-family: 'Prompt', sans-serif;
}
#fraseInsp{
	background-color:#689f38;
	background-image: url("img/img1.jpeg");
	background-position: center;
	background-size: cover;
	position: relative;
	height: 400px;
	border:1px solid black;

}
#fraseInsp p{
	text-align:center;
	margin-left:33%;
	padding:30px;
	width: 30%;
	border-radius:10px;
}