body{
	margin: 0;
}
.topHeader{
	background-color:#f1f8e9;
	overflow: hidden;
	background-color: #f1f1f1;
	text-align:center;
	padding: 1px 10px;
}
.topHeader h1{
	font-family: 'Prompt', sans-serif;
}
.imgblock1{
	background-color:#689f38;	
	/* background-image: url("https://asset2.cxnmarksandspencer.com/is/image/mands/44e79d5a6007d11fd420b6c302d0f2fc0ef404da?$Homepage_600x330$"); */
	background-image: url("../img/qwerty.jpg");
	background-position: center;
	background-size: cover;
	position: relative;
	filter: blur(8px);
  	-webkit-filter: blur(8px);
	height: 400px;
	background-position: center;
 	background-repeat: no-repeat;
	background-size: cover;

}
.inspT{
	background-color: rgb(0,0,0); /* Fallback color */
  	background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  	color: white;
  	font-weight: bold;
 	border: 1px solid #f1f1f1;
 	position: absolute;
	top: 20%;
	font-size: 150%;
	border-radius:20px;
 	left: 50%;
 	transform: translate(-50%, -50%);
 	z-index: 2;
 	width: 40%;
 	padding: 10px;
 	text-align: center;
 	filter: blur(0px);
  	-webkit-filter: blur(0px);
}