/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
body{
	margin:0;
	max-width:1905px;
	min-width:100%;
	overflow-x: hidden;
}
header{
	width:101.2%;
	text-align:center;
	background-color:#f1f1f1;
	overflow:hidden;
	font-family: 'Oswald', sans-serif;
}
.Z{
	color:#689f38;
	font-size:35px;
}
section{
	width:100%;
	height:900px;
	font-family: 'Roboto Mono', monospace;
}
article{
	height:400px;
	background:#00695c;
	width:100%;
	padding:10px;
	text-align:center;
}
footer{
	max-width:1820px;
	min-width:100%;
	padding:10px;
	background-color:#000a12;
	color:white;
	text-align:center;
	height:50px;
}
.zipCodeText{
	width:100%;
	height:100px;
	color:white;
	text-align:center;
	font-family: 'ZCOOL XiaoWei', serif;
	text-shadow: 2px 2px black;
	font-size:170%;
}
#zipCode{
	padding: 0px;
	background: blue;
}
.card{
	background:white;
	padding:10px;
	width:600px;
	height:250px;
	margin:auto;
	border-radius:5px;
	box-shadow: 1px 2px;
}
.inputButton{
	border-radius:5px;
	border-color:#00695c;
	color:003d00;
	height:40px;
	font-weight:bold;
	background:none;
}
.inputButton:hover{
	background:#003d33;
	color:white;
}
.inputText{
	border-radius:5px;
	border-color:#00695c;
	height:35px;
	text-align:center;
	min-width:300px
}
.head2head{
	height:350px;
	width:48%;
	text-align:center;
	margin:auto;
	font-size:20px;
	padding:10px;
}
#zipCode{
	background-image:url("img/banana.jpg");
	background-size:cover;
}
#zipCodeCard{
	text-align:center;
}
#infoSec{
	text-align:center;
	color:white;
}
#localSec{
	background-color:green;
	background-image:url("img/vege1.jpeg");
	background-size:cover;
	width: 101%;
}
#localSec iframe{
}
#productsSec{
	background-image:url("img/fruits.jpeg");
	background-size:cover;
	background-width:100%;
}
#localSec{
	padding:0;
}
#empitySec{
	background-image:url("img/plate.jpg");
	background-size:cover;
}
#leftAbout{
	float:left;
	color: #003d33;
	
}
#leftAbout li{
	
	text-align:left;
	margin-left:45%;
	list-style-type: square;
	color: #003d33;
	
}
.head2head p{
	font-size:30px;
	text-decoration:underline;
}
.head2head li{
	list-style-type: none;
	
}
.head2head a{
	text-decoration:none;
	color:black;
	
}

#rightSocial a{
	font-size:30px;
	padding:10px;
}
#rightSocial{
	float:right;
}
#contactSec{
	background:white;
}
/*Buttons Hover*/
.fa-facebook:hover {
  background: #3B5998;
  width:30px;
  color: white;
}
.fa-twitter:hover {
  background: #55ACEE;
  color: white;
}
.fa-instagram:hover {
  background: #125688;
  color: white;
}
.fa-snapchat-ghost:hover {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
